/*background and header set up*/
body {
    width: auto; height: auto; background: blanchedalmond; text-align: center;
    font-family:"Menlo", serif;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: blue;
}

button{
    background-color: darkslategrey; border-radius: 12px;
}

a{
    font-size: 30px; text-decoration: none;
}
